*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  
}


@media screen and (min-width:300px) {
    

    #app{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width:100%;
        padding:20px;
        background-color:  rgb(102, 247, 97); 
        height:100vh;
    }

    #app-title{
    color:rgb(24, 12, 12);
    font-weight: bold;
    max-width: 300px;
    font-size: x-large;
    }

    #app-tagline{
        
        font-size: medium;
        font-style: italic;
        color:rgb(24, 12, 12);
    }

    #conversion-window{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: 10px;
        width: 85%;
        padding: 20px;
        background-color: #ecf8ef;
        border-radius: 5px;
    }

    #baseCurrencyAmt{
        margin: 10px 0;
        border: solid 1px black;
        border-radius: 2px;
        width: 150px;
    }


    #baseCurrencyAmt:focus{
        background-color: rgb(130, 184, 245);
    }



    #conversion-window>.currency-input-container{
        margin:0 0 10px 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #app-logo{
        border-radius: 50%;
        width: 200px;
        height: 50px
    }
   

    #btns-container{
    padding:5px;
    margin: 0 10px 0 2px;
    }

    #footer{
        display:flex;
        flex-direction: column;
        align-items:center;
        margin: 10px 0;
        justify-content:flex-end;
    }

    .buttons{
        
        margin:0 15px;
        border-radius: 5px;
        border-style: none;
        font-weight: bold;
        height: 40px;
        width: 75px;
        cursor:pointer;
        color: white;
    }


    #dest-currency-total{
        margin:10px auto;
        font-size:small;
        max-width:95%;
    }



    #clearBtn{
    background-color:red ;
    }

    #calcBtn{
    background-color:rgb(18, 110, 49);
    }

}


@media screen and (max-width:1500px) {


    #app{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin:20px;
        padding: 5px;
        background-color:  rgb(102, 247, 97); 
        height:100vh;
    }

    #app-title{
    color:rgb(24, 12, 12);
    }

    #app-tagline{
        font-weight: bold;
        font-size: large;
        font-style: italic;
        color:rgb(24, 12, 12);
    }

    #conversion-window{
        margin: 50px 0;
        padding: 2px;
        background-color: #ecf8ef;
        border-radius: 5px;
    }




    
    #conversion-window>.currency-input-container{
        margin:20px;
        padding: 10px;
    }


    .currency-inputs{
        margin:0 20px;
        height: 20px;
        width: 200px; 
    }

    #btns-container{
    padding:5px;
    margin: 0 10px 0 2px;
    }

    #footer{
        display:flex;
        justify-content:flex-end ;
    }

    .buttons{
        
        margin:0 5px 0 5px;
        border-radius: 5px;
        border-style: none;
        font-weight: bold;
        height: 40px;
        width: 75px;
        cursor:pointer;
        color: white;
    }


    #dest-currency-total{
        margin-left:30px;

    }

    #clearBtn{
    background-color:red ;
    }

    #calcBtn{
    background-color:rgb(18, 110, 49);
    }

}

